
section {
    width: 1000px;
    margin: 0 auto;
}

div#pkgTitleBox {
    height: 230px;
    border-bottom: 1px solid #ededed;
}

div#pkgTitleBox h1 {
    height: 80px;
    line-height: 80px;
}

div#pkgContentBox {
    padding-top: 50px;
}

div#pkgSearch {
    width: 300px;
    background: #ededed;
    float: left;
}

div#pkgSearch h3 {
    background: goldenrod;
    height: 50px;
    line-height: 50px;
    text-indent: 10px;
}

div#pkgSearch p {
    height: 50px;
    line-height: 50px;
    text-indent: 10px;
}

div#pkgSearch input {
    width: 90%;
    margin-left: 10px;
}

div#pkgSearch select {
    width: 90%;
    margin-left: 10px;
}

#pkgBtnBox {
    text-align: center;
}

button#pkgSearchBtn {
    border: none;
    width: 150px;
    height: 30px;
    background: #929292;
}

div#pkgListWrap {
    width: 650px;
    padding: 0 20px 20px 30px;
    overflow: hidden;
}

#totalCnt {
    font-weight: bold;
}

div#pkgOrderBy {
    height: 80px;
    line-height: 80px;
}

div#pkgOrderBy button {
    border: none;
    width: 100px;
    height: 30px;
}

div.pkgImg {
    width: 250px;
    height: 180px;
    margin-right: 10px;
    float: left;
}

div.pkgImg img {
    width: 100%;
    height : 200px;
}

div.pkgInfoBox {
    width: 90%;
    height: 210px;
    padding: 20px;
    border: 1px solid #ededed;
}

div.pkgInfoBox p {
    height: 40px;
}

div.pkgInfoBox .pkgTitle {
    height: 80px;
    font-size: 20px;
    font-weight: bold;
}

.pkgPrice {
    text-indent: 5px;
    font-size: 19px;
    color: maroon;
    text-align: right;
}

.pkgDate {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

.pkgReserv {
    text-align: right;
}

.pkgReservBtn {
    border: none;
    width: 100px;
    height: 30px;
}
.pagination {
    list-style : none;
    margin-left : 150px;
    margin-top : 10px;
}
.pagination li {
    width: 30px;
    height: 30px;
    text-align: center;
    float : left;
    border : 1px solid lightgrey;
}
.pagination .active {
    background-color : grey;
}

#listAll { margin-left: 420px; background: steelblue; color: #fff;}
.pagination li .pageNumA { display: block; height: 100%;}
