<%- include ("../../include/header.ejs")%>
<div class="content">
	<div class="row">
		<div class="col-sm-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">FAQ 등록</h3>
				</div>
				<form role="form" action="FAQRegister" method="post">
					<div class="box-body">
						<div class="form-group">
							<label>제목</label>
							<input type="text" name="title" class="form-control" placeholder="제목을 입력하세요" required="required">
						</div>
						<div class="form-group">
							<label>내용</label>
							<textarea rows="15" cols="30" placeholder="내용을 입력하세요" name="content" class="form-control" required="required"></textarea>
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">등록</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<%- include ("../../include/footer.ejs")%>